*{
    box-sizing: border-box;
}

body{
    font-family: "Comic Sans MS", "Chalkboard SE", sans-serif;
    margin: 3rem;
    padding: 0;
    background-color: #fff9c4;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#joke{
    border: 2px solid;
    border-radius: 15px;
    padding: .75rem;
    font-size: 1.75rem;
    background-color: #fffdf0;
    font-family: inherit;
    font-weight: bold;
}

#catEmoji{
    margin: 0;
    font-size: 7rem;
    text-shadow: 3px 3px 10px #4d4d4d;
}

.buttons button{
    font-family: inherit;
    font-size: 1.4rem;
    border-radius: 15px;
    padding: .5rem;
  
}

#Programming:hover{
    background-color: #002b36;
    color: #2ee6ff;
}

#Programming:active {
    background-color: #2ee6ff;
    color: #002b36;
}

#Misc:hover{
    background-color: #fd48a3;
    color: #00ced1;
}

#Misc:active {
    background-color: #32cd32;
    color: #ff4500;
}

#Pun:hover{
    background-color: #ffc310;
    color: black;
}

#Pun:active {
    background-color: #663333;
    color: #ffff00;
}

#Spooky:hover{
    background-color: black;
    color: white;
}

#Spooky:active {
    background-color: #ff6a00;
    color: black;
}

#Christmas:hover{
    background-color: #165b33;
    color: white;
}

#Christmas:active {
    background-color: #c70003;
    color: white;
}